@import url('https://fonts.googleapis.com/css?family=Coiny');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

body {
  width: 100%;
  font-family: 'Coiny', cursive;
  height: 100vh;
  background: whitesmoke;
  grid-template-columns: 100%;
  
}

.container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.page-title {
  color: #30e8bf;
  font-size: 45px;
  margin: 0 auto;
  
 
}
.game-info {
  color: #30e8bf;
  font-size: 2em;
  display: inline-block;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  font-family: Coiny, serif;
  color: #30e8bf;
  z-index: 100;
}

.overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forward;
  -webkit-animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background: rgba(0, 0, 0, .8);
    font-size: 10em;
  }
} 

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-container {
  width: 640px;
  height: 640px;
   margin: 0 auto; 
}

.card {
  width: 640px;
  height: 640px;
  display: flex;
  perspective: 1000px; 
  flex-wrap: wrap; 
  margin: 0 auto;
}

.memory-cards {
  width: calc(25% - 10px);
  height: calc(33.333% -10px);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s; 
}

.memory-cards:active {
  transform: scale(.97);
  transition: transform.2s;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.front-face, .back-face {
  background: #232526; 
  background: -webkit-linear-gradient(to right, #414345, #232526); 
  background: linear-gradient(to right, #414345, #232526); 
  border: 1px solid lightblue;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front-face{
  transform: rotateY(180deg); 
  /* background: whitesmoke; */
  background: -webkit-linear-gradient(to right, #414345, #232526); 
  background: linear-gradient(to right, #414345, #232526); 

} 


.back-face:hover {
  background-position: right center;
  background: #EECDA3;
  background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);
  background: linear-gradient(to right, #EF629F, #EECDA3);
  box-shadow: 1px 1px 5px 1px #ccc;
  color:#3ea8ff;


}

.memory-cards.flip {
  transform: rotateY(180deg);
} 

.match .back-face {
  display: none !important;
}

.match .front-face {
  border: 3px solid #30e8bf;
  animation: infinite blink;
  animation: blink-1 0.1s both;
  -webkit-animation: blink-1 0.1s both; 
}

 .disable .front-face {
  display: none !important;
} 

 @-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@media all and (max-width:640px) {
  .game-container {
    width: auto;
  }
  .card {
    width: auto;
  }
}

footer {
  text-transform: uppercase;
  text-align: center;
  color: #30e8bf;
  margin-top: 40px;
  font-size: 12px;
}

.fa-heart {
  color: red;
}
